/* html{
    overflow-y: hidden;
} */

body{
    
    /* overflow-y: hidden; */
    /* height: 91.56vh; */

}

.first{
    background-color: #f1f1f1;
    color: rgb(125, 135, 220);

    background-image: url("../../assets/Images/aa.jpg" );
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 97vh;

    padding: 480px 0 0 300px;

}

.second{
    background-color: #d9d6d6;
    height: 100vh;

}

#navbar1{
    color: #FFFFFF;
    padding-left: 20px;
    background-color: #202A44;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.nav-link{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#text{
    /* padding: 36% 22%; */
    /* top: 36%;
    left: 220%; */
    font-size: 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

#text21{
padding-left:50px;
/* padding-bottom: 30000px; */

font-size: larger;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
