<html>
<nav class="navbar navbar-expand-lg navbar-light" id="navbar1" >
  <a class="navbar-brand" href="#">
    <img src="../../assets/Images/83180-84.png" height="40px" width="40px" alt="LOGO" style="background-color: rgb(157, 182, 190);">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="\login">Alumfund </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="\bitsfundhome">BITSfund</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"  href="#" id="navbarDropdownMenuLink" >
          NGOfund
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
         <a class="dropdown-item" href="\register">NGO Registration</a>
          <a class="dropdown-item" href="\home">Fund NGO</a>
        </div>
      
      </li>

    </ul>
  </div>

  <ul class="navbar-nav ml-auto">
    <li class=" nav-item">
      <a class="nav-link" id="adminbutton" style="margin-right: 20px;" href="admin" >Admin</a>
    </li>
    
</ul>
</nav>

<body>
  <div class="first">
    <!-- <p style="font-size: 600%; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">COMING <br>SOON</p> -->
      <p id="text">Invest Together!</p>
      
      <p id="text21">Support your alma mater and invest in the future with Alumfund.</p>
    
  </div>

  <div class="second">
d   
  </div>
</body>
</html>
