<html>
  <body>
  
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="navbar1">
    <a class="navbar-brand" href="#">Alumfund</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="\feerequest">Raise a request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\viewfeestatus">View status</a>
        </li>
        
      </ul>
      
    </div>
  </nav> -->



<nav class="navbar navbar-expand-lg navbar-light" id="navbar1">
  <a class="navbar-brand" href="#">
    <img src="../../assets/Images/83180-84.png" height="40px" width="40px" alt="LOGO" style="background-color: rgb(157, 182, 190);">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
 
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="\feerequest">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="\viewfeestatus">Status</a>
        </li>
        
      </ul>

  </div>

  <ul class="navbar-nav ml-auto">
    <li class=" nav-item">
      <a class="nav-link" id="adminbutton" style="margin-right: 20px;" href="\login" >Logout</a>
    </li>
    
</ul>
</nav>

  <div >
      <H1 id="welcome" >Welcome</H1>
  </div>
</body>
  </html>

